/* Reset/Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis (se estiver usando um pré-processador) */
:root {
    --primary-color: #FF8C00;
    --primary-dark: #FF6700;
    --secondary-color: #25D366;
    --text-dark: #333333;
    --text-light: #555555;
    --background-light: #ffffff;
}

/* Layout geral */
.container {
    max-width: 960px;
}

.container.my-5 {
    padding: 50px 0;
}

/* Tipografia */
body {
    padding-top: 20px;
    font-family: Arial, sans-serif;
    color: var(--text-dark);
    background-color: var(--background-light);
    line-height: 1.6;
}

h1, h5 {
    font-weight: 700;
    color: var(--text-dark);
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

/* Navegação */
.navbar {
    background-color: var(--background-light) !important;
    position: relative; /* Adicione isso se ainda não estiver presente */
    z-index: 1000; /* Ajuste o valor se necessário */
}


/* Slider */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    height: 100%;
    filter: invert(50%);
}

.carousel-control-prev {
    display: none;
}

.carousel-control-next {
    display: none;
}

.carousel-indicators {
    bottom: 10px;
}

.carousel-indicators li {
    background-color: var(--text-light);
}

.carousel-indicators .active {
    background-color: var(--text-dark);
}
.slider-background {
    padding: 50px 0;
}

.carousel-item h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; /* Ajuste conforme necessário */
    font-weight: 700;
    color: #000000; /* Ajuste a cor do texto conforme o fundo */
}

.carousel-item p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem; /* Ajuste conforme necessário */
    font-weight: 400;
    color: #000000; /* Ajuste a cor do texto conforme o fundo */
}


/* Rodapé */
footer {
    background-color: var(--background-light);
    padding: 15px 0;
    color: var(--text-dark);
    text-align: center;
    font-size: 0.875rem;
}

/* Cards */
.card {
    margin-bottom: 30px;
}
.card_escolher {
    /* CSS para igualar a altura dos cartões */
    height: 100%; /* Garante que todos os cartões tenham a mesma altura */    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd; /* Mantém as bordas visíveis */

}

.card-title {
    font-size: 1.25rem;
    font-weight: 700;
}

.card-text {
    font-size: 1rem;
    font-weight: 300;
}

/* Sobre a empresa */

/* Ajuste para a nova estrutura */
.sobre-empresa h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #343A40; /* Use uma cor que contraste bem com o fundo */
}

.text-left {
    text-align: left;
    margin-left: 0; /* Ajuste a margem se necessário */
}

.sobre-empresa p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #6C757D;
}

.laranja {
    color: #FF8C00; /* Laranja para destacar */
    font-weight: 700; /* Deixe a fonte em negrito */
}

.sobre-empresa .image-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-empresa .image-content img {
    max-width: 100%; /* Garante que a imagem se ajuste ao tamanho da coluna */
    height: auto;
}

/* Adiciona o efeito de fusão com o degradê */
.sobre-empresa::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--background-light));
    z-index: 1;
}
.sobre-empresa {
    position: relative;
    margin-bottom: 3rem; /* Ajuste conforme necessário para a distância entre seções */
}

/* Botões */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

/* WhatsApp */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 50%;
    background-color: var(--secondary-color);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.whatsapp-float img {
    width: 30px;
    height: 30px;
}

/* Equipe */
.team {
    padding: 50px 0;
}

.team-member {
    text-align: center;
    margin-bottom: 30px;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.team-member h3 {
    margin-top: 15px;
    font-size: 1.25rem;
}

.team-member p {
    font-size: 1rem;
    color: var(--text-light);
}

.team h2 {
    font-weight: bold;
}

/* Slider Background */
.slider-background {
    background-color:#fff1df; /* Cor de fundo */
    padding: 40px 0; /* Adiciona um pouco de espaçamento, opcional */
}



/* Estilo para a seção "Sobre a Empresa" em dispositivos móveis */
@media (max-width: 768px) {
    .sobre-empresa {
        flex-direction: column; /* Alinha os itens em coluna */
        background: var(--background-light); /* Remove o gradiente */
        border-radius: 0; /* Remove o arredondamento */
    }

    .sobre-empresa .image-content {
        background: none; /* Remove o background da imagem */
    }

    .sobre-empresa::before {
        display: none; /* Remove o efeito de fusão */
    }
}

.full-width-section {
    width: 100vw; /* 100% da largura da viewport */
    margin-left: calc(-50vw + 50%); /* Ajusta a margem para compensar o container padrão */
    margin-right: calc(-50vw + 50%); /* Ajusta a margem para compensar o container padrão */
    padding: 0; /* Remove o padding padrão, se necessário */
}

.sobre-empresa {
    background-color: #ffffff; /* Defina uma cor de fundo se desejar */
}

.sobre-empresa h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #343A40; /* Use uma cor que contraste bem com o fundo */
}

.text-left {
    text-align: left;
}

.sobre-empresa p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #6C757D;
}

.laranja {
    color: #FF8C00; /* Laranja para destacar */
    font-weight: 700; /* Deixe a fonte em negrito */
}

.sobre-empresa .image-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-empresa .image-content img {
    max-width: 100%; /* Garante que a imagem se ajuste ao tamanho da coluna */
    height: auto;
}
/* Animação de entrada */
/* Animação de entrada */
/* Animação de entrada */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.sobre-empresa h2, .sobre-empresa p, .sobre-empresa .btn {
    animation: slideIn 1s ease-out;
}

/* Efeito de animação de entrada com atraso para uma linha de texto por vez */
.sobre-empresa h2 {
    animation-delay:1s;
}

.sobre-empresa p {
    animation-delay: 1s;
}

.sobre-empresa .btn {
    animation-delay: 1.0s;
}
